html
  head
    title= title
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css", rel="stylesheet")
  body
  .container-fluid
   .row
    div(class="col-md-6 col-md-offset-3")
     h2 텍스트 검색결과
     ul
      each word in filesWords 
       li= word
     button(class="btn btn-warning" onclick="location.href='./finder'") 다시찾기

     button(class="btn btn-success" onclick="location.href='./download/#{fileName}'") 파일로 저장

  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")